

header {
    padding: 2rem clamp(1rem, 4vw, 4rem);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000;/* Adicione um fundo para evitar sobreposição de conteúdo */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 70px;
}

ul {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 2vw, 3rem);
    font-size: 1.2rem;
}

.container-inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.title-inicio {
    font-family: var(--title-font);
    font-size: clamp(2rem, 5vw, 4rem); /* Tamanho de fonte responsivo */
    font-weight: bold;
}

#animated-text {
    font-size: clamp(1.5rem, 4vw, 3rem); /* Tamanho de fonte responsivo */
    font-weight: 300;
    border-right: 2px solid black; /* Cursor de digitação */
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Oculta o texto até ser exibido */
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite; /* Adiciona a animação do cursor */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--main-color); }
}

.container-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.container-redes i {
    font-size: 2rem;
}

.download-button {
    background-color: var(--main-color); /* Use sua cor principal */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s ease;
}

.scroll {
    position: absolute;
    bottom: 3rem; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza o botão de scroll */
    width: 100%; /* Garante que o botão de scroll ocupe toda a largura disponível */
}

.scroll a {
    font-size: 2.5rem;
    animation: move-up-down 2s infinite; /* Aplica a animação */
}

@keyframes move-up-down {
    0%, 100% {
        transform: translateY(0); /* Posição inicial e final */
    }
    50% {
        transform: translateY(-10px); /* Move para cima */
    }
}

.container-sobre {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    max-width: 85%;
    font-size: 1.3rem;
    padding: 0 3rem;
}

.article-sobre p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.title-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    font-size: 2rem;
    font-family: var(--title-font);
}

.title-about p {
    font-size: clamp(.9rem, 1.5vw, 1.5rem);
}

.traco-sobre {
    width: 70px;
    height: 3px;
    background-color: var(--main-color);
}

.container-tech {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.container-tech h2 {
    font-weight: 400;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}

.tech-icons i {
    flex: 1 1 50px; 
    max-width: 100px; 
    text-align: center;
    font-size: 2rem;
}

.tech-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-icon span {
    visibility: hidden;
    opacity: 0;
    margin-top: 0.5rem;
    font-size: 1rem;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tech-icon:hover span {
    visibility: visible;
    opacity: 1;
}


/* Estilos para a seção de projetos */
.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.container-projetos h2 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 5rem;
}

.projeto {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 80%; /* Ajuste conforme necessário */
}

.projeto.right {
    flex-direction: row-reverse;
}

.pc {
    width: 50%;
    height: 300px; /* Ajuste conforme necessário */
    background-size: cover;
    background-position: center;
    border-radius: 8px; 
}

.info-projeto {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.info-projeto h3 {
    margin-top: 0;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.btn-projeto {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--main-color); /* Ajuste conforme a paleta do seu site */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-projeto:hover {
    background-color: var(--hover);
    transition: .6s;
}

.pc { 
    width: 500px; 
    height: 250px;
    background-size: cover; /* Ajusta a imagem para cobrir o elemento */
    margin: 4rem 0; /* Centraliza o elemento horizontalmente */
    display: flex;
    align-items: end;
}

.celular {
    width: 200px; /* Define a largura máxima */
    height: 300px;
    background-size: cover; /* Ajusta a imagem para cobrir o elemento */
    position: relative;
    left: 50%; /* Centraliza o elemento horizontalmente */
}

.pj1-pc {
    background: url(../images/tela-pc.png) no-repeat center;
}
.pj1-cel {
    background: url(../images/tela-celular.png) no-repeat center;
}

.pj2-pc {
    background: url(../images/tela-pc-pj2.png) no-repeat center;
}

.pj2-cel {
    background: url(../images/tela-celular-pj2.png) no-repeat center;
}

.pj3-pc {
    background: url(../images/tela-pc-pj3.png) no-repeat center;
}
.pj3-cel 
{
    background: url(../images/tela-celular-pj3.png) no-repeat center;
}

/* Estilos para a seção de contato */
.container-contato {
    padding: 40px;
    background-color: #f9f9f9; /* Ajuste conforme a paleta do seu site */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 80%;
}


.container-contato h2 {
    color: var(--main-color); 
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

/* Estilos para os elementos do formulário */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--main-color);
    font-weight: bold;
}

input, textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.btn-submit {
    display: inline-block;
    width: 70%;
    padding: 10px 20px;
    background-color: var(--main-color); /* Ajuste conforme a paleta do seu site */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Footer Styles */
.footer {
    background-color: var(--main-color); /* Ajuste conforme a paleta do seu site */
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 70px;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: var(--bg-primary-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.container-footer {
    width: 70%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--bg-primary-color);
}

.footer-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.footer-social i {
    color: var(--bg-primary-color);
    transition: color 0.3s;
}

.footer-social p {
    color: var(--bg-primary-color);
    transition: color 0.3s;
    font-size: 1.2rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-contact p {
    color: var(--bg-primary-color);
    font-size: 1.2rem;

}

.footer-contact a {
    color:var(--bg-primary-color);
    text-decoration:underline;
    text-underline-offset: 3px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 1rem;
}

.footer-bottom p {
    color: var(--bg-primary-color); /* Ajuste conforme a paleta do seu site */
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: var(--main-color);
    margin: 4px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    * {
        overflow-x: hidden;
    }
    @media (max-width: 768px) {
        ul.menu {
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            gap: 1rem;
            position: fixed; /* Use fixed para garantir que o menu ocupe toda a tela */
            top: 0; 
            right: 0;
            background-color: white;
            width: 100%;
            height: 50vh; /* Garante que o menu ocupe toda a altura da tela */
            text-align: center;
            transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
            z-index: 10;
            padding-top: 60px; /* Ajuste conforme necessário para evitar sobreposição com o header */
            overflow: hidden; /* Evita rolagem */
        }
    
        ul.menu.active {
            opacity: 1;
            visibility: visible;
            gap: 1rem;
            align-items: center;
            justify-content: center;
        }
    
        .hamburger {
            display: flex;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 20;
        }
    
        .menu-item {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }
    
        .menu-item a {
            color: var(--main-color);
            text-decoration: none;
            font-size: 1.2rem;
            display: block;
            width: 100%;
        }
    }

    .article-sobre {
        max-width: 100%;
        padding: 0 1rem;
        font-size: 1.2rem;
    }

    .article-sobre p {
        font-weight: bold;
        text-align: center;
    }

    .title-about p {
        font-weight: bold;
    }

    .tech-icons {
        font-size: 1.2rem; /* Ajusta o tamanho dos ícones em telas menores */
    }

    .tech-icons i {
        flex: 1 1 30px; /* Ajusta o tamanho mínimo dos ícones em telas menores */
        max-width: 80px; /* Limita a largura máxima dos ícones em telas menores */
    }

    .projeto {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .projeto.left, .projeto.right {
        flex-direction: column;
    }

    .pc, .info-projeto {
        width: 100%;
    }

    .pc {
        height: auto;
        width: 100%;
    }

    .info-projeto {
        text-align: center;
    }

    input, textarea, form {
        width: 100%;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-contact a {
        font-size: 1.2rem;
    }
}